$background-color: #1e182a;
$dark-shades-color: #1e182a;
$dark-accent-color: #8f4e63;
$main-brand-color: #7d5d7d;
$light-accent-color: #6dcedf;
$light-shades-color: #eff2f0;

$show-home-image: true;
$home-image: url("../img/mtfuji.jpeg");
$background-opacity: 0.4;
* {
  box-sizing: border-box;
}

$debug: false;

@if $debug {
  * {
    border: solid 1px red;
  }
}

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background-image: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba($dark-shades-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}

// Set Text Colour

@function set-shades-color($color) {
  @if (lightness($color) > 40) {
    @return $dark-shades-color;
  }
  @return $light-shades-color;
}

// Media Query Mixins

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
