// Menu Button
@import "config";

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: $light-accent-color;
    @include easeOut;
  }

  // Rotate into X With Menu Lines
  &.close {
    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(225deg);
        margin-top: 10px;
        height: 6px;
      }
      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }
      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-225deg);
        margin: 0;
        margin-top: -19px;
        height: 6px;
      }
    }
  }
}
