// Original source from
// https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/

blockquote {
  background: lighten($background-color, 5);
  color: $light-shades-color;
  border-left: 2px solid $light-accent-color;
  //margin: 1.5em 10px;
  margin: 0.5em 0px;
  padding: 0.5em 10px;
  //padding: 0.5em 0px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $light-accent-color;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

cite {
  display: block;
  font-style: italic;
  text-align: right;
  &:before {
    content: "— ";
  }
}

blockquote p {
  display: inline;
}
