// Work projects

.projects {
  display: grid;
  grid-gap: 0.7rem;

  /*                     " three times one fractional" */
  grid-template-columns: repeat(3, 1fr);

  .project-container {
    // Positioning text on top of the image
    // https://www.w3schools.com/howto/howto_css_image_text.asp

    position: relative;
    overflow: hidden;
    text-align: center;

    img {
      // Idea for the zoom effect
      // https://codepen.io/nxworld/pen/ZYNOBZ
      width: 100%;
      transform: scale(1);
      transition: 0.3s ease-in-out;

      &:hover {
        width: 100%;
        transform: scale(1.1);
      }
    }
    .project-links {
      background: rgba(lighten($background-color, 30), $background-opacity);
      border-radius: 10%;
      color: $dark-shades-color;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
