@import "config";
@import "quote";
@import "footer";
@import "topnav";
@import "hero-image";
@import "fonts";
@import "about";
@import "work";
@import "contact";
// Media queries to the bottom of the file:
//@import "mobile";
body {
  background: $background-color;
  color: set-shades-color($background-color);
  height: 100%;
  margin: 0;
  line-height: 1.5;
}

html body {
  max-width: $max-width;
  margin: auto;
}

a {
  text-decoration: none;
  color: $main-brand-color;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding-top: 4rem;
  padding-bottom: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  //height: 100%;
  min-height: calc(100vh - $footer-height);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover {
        color: $light-accent-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// Button Styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background-color: $light-shades-color;
  }
}
.btn-dark {
  @extend .btn;
}
.btn-light {
  @extend .btn;
}

// Contact Page

@import "mobile";
